section {
    width: 75%;
    float: left;
    background-color: #e0e0e0;
}

aside {
    width: 25%;
    float: left;
    background-color: #e0e0e0;
    border-left: 1px solid white;
}

header {
    padding: 25px;
    background-color: #cfd8dc;
}


footer {
    background-color: #CFD8DC;
}


.contenido {
    display: flex;
}